/* TYPOGRAPHY */

body {
  /* TODO: add custom font */
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size-adjust: 0.5;
  background-color: white;
  color: #111;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 a {
  color: black;
  transition-duration: 0.2s;
}

h1 a:hover {
  color: #303030;
  text-decoration: none;
}

h1 {
  line-height: 1.2;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  max-width: 40em;
  margin: 4em auto;
  text-align: center;
}


/* LAYOUT */

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.layout-header {
  margin: 0 auto;
  padding: 1rem 2rem;
  opacity: 0.4;
  transition-property: opacity;
  transition-duration: 0.4s;
}

.layout-header:hover {
  opacity: 1;
}

.layout-page-title {
  display: inline;
  font-size: 1.6rem;
}

.layout-description {
  display: none;
}

.layout-menu {
  display: inline;
  margin: 0 1rem;
  line-height: 2.4em;
}

.layout-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: inline-flex;
  gap: 1em;
}

.layout-menu a {
  color: #767676;
}

.layout-description {
  color: #444;
  font-size: 1.1em;
  margin-top: 0.5em;
  line-height: 1.5;
}

.layout-main {
  max-width: 50rem;
  margin: 1rem auto;
}

.layout-post {
  padding: 0.5em 2rem 1.5em;
}

.layout-footer {
  text-align: center;
  padding: 0 2rem 4rem;
  color: #444;
}


/* LAYOUT (SPECIFIC PAGES) */

.kind-home .layout-header {
  margin: 3rem auto 4rem;
  padding: 0 1rem;
  text-align: center;
  max-width: 50rem;
  opacity: 1;
}

.kind-home .layout-menu {
  display: block;
  margin: 1rem 0;
}

.kind-home .layout-menu ul {
  gap: 1.5em;
}

.kind-home .layout-description {
  display: block;
}

.kind-page .layout-post {
  max-width: 40rem;
  margin: 0 auto 2rem;
  font-size: 1.2em;
  line-height: 1.5;
}

.kind-page .layout-post-title {
  font-size: 1.5em;
  margin: 0 0 1em;
}

.kind-page .layout-post-time {
  display: block;
  color: #666;
  margin: -1em 0 1em;
}